<div id="footer">
  <ul class="navigation round">
    <li><%= link_to "Home", root_path %></li>
    <li><a href="http://www.just1word.com/">Just1word.com</a></li>
    <li><a href="http://www.facebook.com/just1word">Facebook</a></li>
    <li><a href="http://www.twitter.com/just1word">Twitter</a></li>
  </ul>
</div>
